@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
	margin: 0 auto;
}
body{
	width:1280px;
	font-family: 'Poppins', sans-serif;
}
/* header start */
.container{
    background-color: 005761;
    width: 1280px;
}
.info {
    background-color: #005761;
    width: 50%;
    float: left;
    height: 700px;
}
.info h4{
    margin: 30px 0px 15px 40px;
    font-size: 25px;
    color: #F7DC4F;
    font-weight:400;  
}
.menu{}
.menu ul{}
.menu ul li {
    display: inline-block;
    list-style-type: none;
}
.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
    font-size: 19px;
}
.menu ul li a:hover{
	color:#F7DC4F;
}
.info h2{
    margin: 150px 0px 0px 200px;
    color: #F7DC4F;
    font-size: 35px;
    }
.info h1{
    margin: 0px 0px 0px 200px;
    color:#ffffff;
    font-size:70px;
}
.info h5{
    margin: 0px 0px 0px 200px;
    color:#ffffff;
    font-size: 15px
}
.img{
    max-width: 50%;
    float: left;
    height: 700px;
}
.img img{
    width: 100%;
    height: 700px;
}


 
/* about me */

.aboutmesection {
    clear: both;
    background-color: #F0F0F0;
    padding: 80px 250px;
}
.aboutmesection h2 {
    color: #005761;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
}
.aboutmesection p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 40px;
}
.aboutmesection a {
    text-decoration: none;
    margin-left:320px;
    width:300px;
    background-color: #F7DC4F;
    padding:10px 20px;
    color:#005761;
}

/* video */

.video{}
.video h2 {
    color: #005761;
    font-size: 50px;
    text-align: center;
    margin: 50px 0px;
}
.video iframe{
	 width: 100%;
	 height: 500px;
}

/* photo */

.photo{
	margin-bottom: 60px
}
.photo h2{
    color: #005761;
    font-size: 50px;
    text-align: center;
    margin: 50px 0px;
}
.photo img {
    width: 400px;
    margin: 0px 24px 24px 0px;
    height: 300px;
}
.photo img:hover {
	opacity: 0.5;
}

/* banner */

.bannercontent{
	max-width:100%;
}
.imagearea{
    width: 50%;
    float:left
}
.imagearea img{
    width: 100%;
    height:650px;
}
.contactarea {
    width: 50%;
    background-color: #005761;
    height: 650px;
	float:left;
}
.contact{
	margin:50px 0px 0px 200px;
}
.contact h2{
    font-size: 50px;
    color:#F7DC4F;
    margin-bottom:20px;
}
.contact h3{
	font-size:25px;
	color:#ffffff;
	margin-bottom: 20px;
}
.info1{}
.inf{ 
	margin-bottom:25px;
}
.inf h6{
	font-size:18px;
	color:#ffffff;
	margin-bottom: 5px;
	line-height:25px;
}
.inf p{
	font-size:18px;
	color:#ffffff;
	line-height:25px;
}
.social{
	margin:0px 0px 0px 160px;
}
.social ul{
 text-align:left;
}
.social ul li{
	list-style-type:none;
	display:inline-block;
	}
.social ul li a{
	text-decorationt:none;
	color:#ffffff;
	margin-right: 20px;
}
.social ul li a:hover{
	color:#F7DC4F;
}
/* footer */
.footersection{
	clear:both;
	height:50px;
}
.footersection p{
	padding-top:16px;
	text-align:center;
}
.footersection p a{
	text-decoration: none;
	color:#005761;
	font-weight:bold;
}

.footersection p a:hover{
	color:#ff0000;
}

.fixedicon{
  position:fixed;
  right:20px;
  top:175px;
  width:60px}
.fixedicon img{
  width:50px}









